body {
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    width: 1000px;
    text-align: center;
}

#dados_cep {
    background-color: rgb(108, 108, 250);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 18px;
}